<div class="col-md-12">
  
  <div class="col-md-4">
    <h2><%= @character.name %></h2>
    <p><%= image_tag @character.avatar %></p>
    <p><span class="glyphicon glyphicon-wrench"></span>&nbsp;<%= link_to "Edit character", edit_character_path(@character.id) %>&nbsp;|&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;<%= link_to "Destroy character", character_path(@character.id), method: :delete, data: { confirm: "Are you sure? "} %></p>
  </div>

  <div class="col-md-6">
    <div id="show_attribute">
      <h3>Attributes</h3>
      <%= render @character_attribute %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-4">
      <h3>Add new attribute</h3>
      <%= render 'character_attributes/new_attribute' %>
    </div>  
  </div>
</div>