<%= form_for @character.character_attribute.new, html: { multipart: true }, remote: true do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control clear_field" %>
  </div>

  <div class="field">
    <%= f.label :intensity %><br />
    <%= f.range_field :intensity, autofocus: true, min: 1, max: 100, class: "clear_field" %>
  </div>

  <div class="field">
    <%= f.label :icon, "Upload icon" %><br />
    <%= f.file_field :icon, autocomplete: "off", class: "clear_field" %>
  </div>
    <%= f.hidden_field :character_id, value: @character.id, autocomplete: "off"%>
  
  <div class="actions">
    <br><%= f.submit "Add attribute", class: "btn btn-warning" %>
  </div>

<% end %>